*{margin: 0;}
body{font-family: 'Work Sans', sans-serif;}
.header{display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1400px;
    margin: 0 auto;

}
.header-part {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    background: #3C6255;
    color: #ffff;
    padding: 18px 0px;
}
.menu-bar{
    display: flex;
}
.menu-bar li {
    list-style: none;
    margin-right: 25px;
}
/*******menu bar end*******/

.banner-part {background: #a6bb8d5e;}
.banner-title{width: 657px;
    height: 162px;
    font-Weight:700;
    font-Size: 64px;
    margin: auto;    
}
.banner-info{
    Width: 862px ;
    Height: 240px;
    text-align: center;
    margin: 100px auto 56px auto;
}
.banner-details{margin-bottom: 20px;}

.button {
    border: none;
    background: #3C6255;
    color: #fff;
    padding: 15px 30px;
    border-radius: 8px;
}
.banner-image{width: 1400px;}
/**********header part end************/
.container{
    background-color: #a6bb8d5e;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 1400px;
    margin: 0px auto;
    padding: 100px 0px 0px 0px;
}
.team-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
    padding: 20px;
}
.team-info{margin-left: 20px;}
.team-title , .Feature-title{Width: 468px; 
   Height :106px;
   font-size: 45px;
   Line-height: 52.79px;
   font-Weight: 700 }
.team-details{
    Width:537px;
    Height:78px;
    font-Weight: 400 ;
    font-size:16px;
    Line-height: 26px;
    margin-bottom: 20px;
}
/********team part style end********/
.feature{
width:586px;}
.Feature-title {
    Width: 468px;
    Height: 106px;
    font-size: 45px;
    Line-height: 52.79px;
    font-Weight: 700;
    border-left: 3px solid #3C6255;
    padding-left: 15px;
}
.feature-detail{
    font-Weight:400;
    font-Size:16px;
    Line-height:26px;
    margin-bottom: 15px;
    border-radius: 8px;
    margin: 20px 0px;
}
.feature-box {
    width: 400px;
    font-Weight: 400;
    font-Size: 16px;
    Line-height: 26px;
    background-color: #3C6255;
    color: #fff;
    margin-bottom: 15px;
    padding: 25px;
    border-radius: 8px;
}
.feature-image {
    padding: 15px;
}
.cart {
    transform: translateY(-70px);
    font-size: 30px;
    font-Weight: 700;
    background: #3C6255;
    color: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    width: 130px;
        }


/********feature part style end********/
.box-part{width: 100%;}
.box-info {
    width: 542px;
    margin: 0px 0px 60px 50px;
}
.box-info h2{
    font-size: 45px;
    Line-height: 52.79px;
    font-Weight: 700;
}
.box-detail{font-Weight:400;
    font-Size:16px;
    Line-height:26px;}
.boxes{display:flex;justify-content: space-around;
   align-items: center;}
.box{border: 2px solid #3C6255;
    text-align: center;
    width: 220px;
    height: 170px;
    border-radius: 8px;
    padding-top: 40px;
    position: relative;
    transition: color 0.4s linear;
    }

.box::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: #fff;
    background-color: #3C6255;
    transition: transform 1s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.box::before{transform: scaleX(0);}
.box:hover::before{transform: scaleX(1);}

.box img h2 p{margin-top: 50%;}

/********feature part style end********/
.sponsor{width: 100%;}
.sponser-media{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.sopnsor-info {
    width: 576px;
    margin: auto;
    text-align: center;}
.sponsor-title {
    font-size: 45px;
    Line-height: 52.79px;
    font-Weight: 700;
}
.sopnsor-info p{margin: 20px 0px;}

/*******sponsor part end********/
.contactHading {
    text-align: center;
    padding: 20px 0px;
}

.contactForm {
    padding: 0px 0px 70px 0px;
    margin-bottom: 20px;
    text-align: center;
    margin: auto;
}

#contactId {
    width: 300px;
    border: 1px solid;
    border-color: #3C6255;
    box-shadow: 6px 6px 20px #3C6255;
}

/*******footer part start********/
.footer-part {
    width: 1400px;
    margin: 0 auto;
    background: #3C6255;
    color: #ffff;
    text-align: center;
    padding: 20px 0px;
        }
/*for responsible mobile device */
@media screen and (max-width:567px) {
 .header{width:100%;}
    .header-part{width: 100%;
    flex-direction: column;
    align-items: center;} 
    .banner-part{width: 100%;height: 100%;}
    .banner-image{width: 100%;}
    .banner-info{width: 100%;height: 100%;}
    .banner-title{width: 100%;}
    .banner-details {margin-top: 60px;}
    /* for team section */
    .container{
        flex-direction:column;
        width: 100%;}
    .team-part{grid-template-columns: repeat(1,1fr); }
    .team-title{width: 100%;}
    .team-info{width: 100%;
    margin-left: 0px;
    text-align: center;}
    .team-details{width: 90%;}
    .btn{margin-top:40px;}
    /* for feature section */
    .feature{width: 100%;}
    .Feature-title{width: 100%;
    padding-left: 0px;}
    .feature-detail{width: 100%;}
    .feature-boxes{
       flex-direction: column;
       width: 100%;}
       .feature-box{width: 87%;}
    .feature-image{width: 100%;
    padding: 0px;}
    /*for box section*/
    .box-part{width: 100%; margin: 0px; }
    .box-info{width: 100%;
    margin-left: 0PX;}
    .box-info h2{text-align: center}
    .box-detail{width: 100%;
        text-align: center;}
    .boxes{width: 100%;
        flex-direction: column;}
    .box{margin-bottom: 15px;}
    /*for sponsor part*/
    .sponsor{width: 100%;}
    .sopnsor-info{width: 100%;}
    .sponser-media {
    width: 100%;
    flex-direction: column;
    justify-content: center;}
    .sponser-media img {
    width: 75%;
    height: 75%;margin-top: 20px;
    margin: auto;}
    /*for*footer*part*/
    .footer-part{width: 100%;}

}
